<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<title>Couple Dal</title>
	
	<link rel="stylesheet" href="Couple%20Dal_files/bootstrap.css">
</head>
<body>
	
<div class="container jumbotron">
  <h2>Couple Dal</h2>
  
  
  		
  			
  				<h4 style="color:red">Emails Cannot Be Same</h4>
  			
  			
  
  <form action="" method="POST">
    <div class="form-group">
    	
	<label for="name1">Your Name: </label>
	<input class="form-control" id="name1" name="name1" placeholder="Enter name" value="saadfdds" type="text">
	

    </div>
    <div class="form-group">
			
	<label for="screen1">Your Screen Name: </label>
	<input class="form-control" id="screen1" name="screen1" placeholder="Enter Screename" value="kjljljljlkj" type="text">
	

    </div>
    <div class="form-group">
			
	<label for="email1">Your email: </label>
	<input class="form-control" id="email1" name="email1" placeholder="Enter email" value="lkjlkjlkjlkjlkjk" type="text">
	

    </div>
    <div class="form-group">
			
	<label for="age1">Your age(years): </label>
	<input class="form-control" id="age1" name="age1" placeholder="Enter Age" value="9" type="text">
	

    </div>
    <div class="form-group">
			
	<label for="interest1">Your Interest: </label>
	<textarea class="form-control" id="interest1" name="interest1" placeholder="Enter Your Interests">lkjlkjlkjl</textarea>
	

	</div>
    <div class="form-group">
    	
	<label for="name2">Bae's Name: </label>
	<input class="form-control" id="name2" name="name2" placeholder="Enter Bae's name" value="llkkjl" type="text">
	

    </div>
    <div class="form-group">
			
	<label for="screen2">Bae's Screen Name: </label>
	<input class="form-control" id="screen2" name="screen2" placeholder="Enter Bae's Screename" value="lkjlkj" type="text">
	

    </div>
    <div class="form-group">
			
	<label for="email2">Bae's email:</label>
	<input class="form-control" id="email2" name="email2" placeholder="Enter Bae's email" value="lkjlkjlkjlkjlkjk" type="text">
	

    </div>
    <div class="form-group">
			
	<label for="age2">Bae's age(years): </label>
	<input class="form-control" id="age2" name="age2" placeholder="Enter Bae's Age" value="8" type="text">
	

    </div>
    <div class="form-group">
			
	<label for="interest2">Bae's Interest: </label>
	<textarea class="form-control" id="interest2" name="interest2" placeholder="Enter Bae's Interests">lkjlkj</textarea>
	

	</div>
    <div class="form-group">
			
	<label for="password">Password</label>
	<input class="form-control" id="password" name="password" placeholder="Enter Password" value="" type="password">
	

	</div>
	<div class="form-group">
		
	<label for="confirm">Confirm Password</label>
	<input class="form-control" id="confirm" name="confirm" placeholder="Confirm Password" value="" type="password">
	

	</div>
	<div class="alert alert-info">
		<h4>You and your Bae will have same password.</h4>
	</div>
    <p><input ,class="btn btn-primary" value="Submit" type="submit"></p>
  </form>
</div>

	<script type="text/javascript" src="Couple%20Dal_files/bootstrap.js"></script>	

</body></html>