{% extends 'layout.html' %}
{% block body %}
<br>
<div class="container jumbotron" style="text-align: justify;font-size: 150%">
Couple Dal is a web-application built with the motive of spreading love. We aim to bring Couples closer and add a new spark to their relation. The app has been built by <b>Aayush Goel</b> and <b>Himanshu Maheshwari</b> of UG-1 of <b>IIIT Hyderabad</b> under the able guidance of <b>Mr. Anshul Singhal</b> and with the help of the learnings from <b>Dr. Rekha Singhal</b>. The app is a complete copywright of its developers and copying any of its contents without their permission in any form is illegal. We hope you have a wonderful experience exploring the application and may help your relation make new chapters in the book of love. For any queries or suggestions write to us at <b>itcoupledal@gmail.com</b>.
<br>

<br><br><br>
<a href="/">Go Back To Home>>></a>
</div>
{% endblock %}